* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 1px;
    color: hsl(0, 0%, 95%);
    margin: 30px 0 30px 0;
}
body {
    background-color: hsl(0, 0%, 95%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
main {
    display: flex;
    place-self: center;
}
.car {
    padding: 5em;
}
.car__sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}
.car__suvs {
    background-color: hsl(184, 100%, 22%);
}
.car__luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius:  0 10px 10px 0;
}
p {
    line-height: 25px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 80px;
}

button {
    background-color: hsl(0, 0%, 95%);
    font-family: "Lexend Deca", sans-serif;
    width: 80%;
    border-radius: 30px;
    padding: 15px;
    border: none;
    transition-duration: 0.09s;
}

/* hover effects */
button:hover {
    cursor: pointer;
    background-color: inherit;
    outline: solid hsl(0, 0%, 95%) 2px;
}
.car__sedan-button {
    color: hsl(31, 77%, 52%);
}
.car__sedan-button:hover {
    color: hsl(0, 0%, 95%);
}
.car__suv-button {
    color: hsl(184, 100%, 22%);
}
.car__suv-button:hover {
    color: hsl(0, 0%, 95%);
}
.car__luxury-button {
    color: hsl(179, 100%, 13%);
}
.car__luxury-button:hover {
    color: hsl(0, 0%, 95%);
}
.mobile {
    display: none;
}

@media screen and (max-width: 1291px) {
    header {
        font-size: 39px;
    }
    p {
        font-size: 14px;
    }
}

@media screen and (max-width:1010px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    body {
        height: auto;
    }
    main {
        flex-direction: column;
    }
    .car {
        margin: 0 auto;
        width: clamp(320px, 100%, 450px);
    }
    .car__sedans {
        border-radius: 10px 10px 0 0;
    }
    .car__luxury {
        border-radius: 0 0 10px 10px;
    }

}